body {
    background-image: url('https://i.imgur.com/D85CZaJ.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(61, 67, 71);
}

.image-class {
    align-content: center;
    max-height: 200%;
    max-width: 200%
}
@font-face {
    font-family: GothamMediumRegular;
    src: url('GothamMediumRegular.ttf') format('truetype');
}


.button-color {
    color: white;
}

.medium-size {
    align-content: center;
    max-height: 200%;
    max-width: 200%
}

img {
    left: 50px;
}

#container
{   height:400px;
    width:400px;
    align-content: center;
    position: relative;
}

#image
{
    position:absolute;
    vertical-align: middle;
    left: auto;
    top:0;
    right: auto;
    display: inline-block;
}
#text-bottom
{   z-index:200;
    font-family: GothamMediumRegular;
    position:absolute;    
    color: white;
    font-size:70px;
    left:200px;
    top: 530px;

}

#text-right
{   z-index:200;
    font-family: GothamMediumRegular;
    position:absolute;    
    color: black;
    font-size:70px;
    left:622px;
    bottom: 240px;
}

