@font-face {
    font-family: GothamMediumRegular;
    src: url('GothamMediumRegular.ttf') format('truetype');
}

.Logo {
    padding: 20px;
    float: left;
    color: black;
    font-family: GothamMediumRegular;
    font-size: 30px;
}

.Logo:hover {
    color: black;
}

.Cart {
    float: right;
    padding: 20px;
    font-size: 40px;
}

.Nav {
    border: 5px;
    border-color: black;
}