@font-face {
    font-family: GothamMediumRegular;
    src: url('GothamMediumRegular.ttf') format('truetype');
}

.Logo {
    padding: 20px;
    float: left;
    color: black;
    font-family: GothamMediumRegular;
    font-size: 30px;
}


.Logo:hover {
    color: black;
    text-decoration: none;
}

.Cart {
    float: right;
    padding: 20px;
    font-size: 40px;
}

.Cart:hover {
    float: right;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
}

.Nav {
    border: 5px;
    border-color: black;
}

.NavBar {
    border: 2px solid black;
}

.search {
    border-left: 2px solid black;
    position: relative;
    box-sizing: border-box;
    align-content: center;
    width:50%;
    max-width:960px;
    margin:0 auto;
}

