.Logo {
    padding: 20px;
    float: left;
    color: black;
    font-family: Helvetica;
    font-size: 40px;
}

.Cart {
    float: right;
    padding: 20px;
    font-size: 40px;
}

.Nav {
    border: 5px;
    border-color: black;
}