.Back {
    padding: 20px;
    float: left;
}

.Purchase {
    margin: 30px;
}

.checkout-image {
   align-content: center;
   max-width: 0 auto;
   max-height: 0 auto;
}

.small-size {
    height: 400px;
    width: auto;
}

.checkout {
    background-color: rgba(255,255,255,.5);
    position: relative;
}
